%h1 Listing games

%table
  %thead
    %tr
      %th User
      %th Type
      %th Game data
      %th
      %th
      %th

  %tbody
    - @games.each do |game|
      %tr
        %td= game.user
        %td= game.type
        %td= game.game_data
        %td= link_to 'Show', game
        %td= link_to 'Edit', edit_game_path(game)
        %td= link_to 'Destroy', game, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game', new_game_path
