%h1 Listing zones

%table
  %thead
    %tr
      %th User
      %th Game
      %th Zone data
      %th
      %th
      %th

  %tbody
    - @zones.each do |zone|
      %tr
        %td= zone.user
        %td= zone.game
        %td= zone.zone_data
        %td= link_to 'Show', zone
        %td= link_to 'Edit', edit_zone_path(zone)
        %td= link_to 'Destroy', zone, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Zone', new_zone_path
